In [3]:
num1 = int(input("Enter number here: "))
num2 = int(input("Enter number here: "))
prod = num1 * num2
if prod >= 1000:
    print("The result = ", prod)
else:
    print(f"The result =  {num1 + num2}")

Enter number here: 25
Enter number here: 10
The result =  35

In [2]:
print("--The sum of current number--")
for i in range(10):
    nim = i + 1
    print(f"Current number {nim} Previous number {i} Sum = {nim+i}")

--The sum of current number--
Current number 1 Previous number 0 Sum = 1
Current number 2 Previous number 1 Sum = 3
Current number 3 Previous number 2 Sum = 5
Current number 4 Previous number 3 Sum = 7
Current number 5 Previous number 4 Sum = 9
Current number 6 Previous number 5 Sum = 11
Current number 7 Previous number 6 Sum = 13
Current number 8 Previous number 7 Sum = 15
Current number 9 Previous number 8 Sum = 17
Current number 10 Previous number 9 Sum = 19

In [8]:
data = "Flying Fox"
print(f"Original string is {data!r}")
print("Even Index Characters : ")
for i in range(len(data)):
    if i % 2 == 0:
        print(data[i])

Original string is 'Flying Fox'
Even Index Characters :
F
y
n

o

In [11]:
def remove_chars(word, num):
    print(word[num+1::])

In [12]:
remove_chars("Rembulan", 3)

ulan

In [16]:
listme = [2,50,65,12,2]
if listme[0] == listme[-1]:
    print("The resuls is",True)
else:
    False

The resuls is True

In [19]:
listyou = [5,1,3,2,5,8]
if listyou[0] == listyou[-1]:
    print("The resuls is",True)
else:
    print("The result is", False)

The result is False

In [1]:
list_s = [4,3,5,9,15,12,65,30]
for x in list_s:
    if x % 5 == 0:
        print(x)

5
15
65
30

In [3]:
mystring = "My name is Arum. Arum is a software engineer. Arum is a freelance writer. Arum is a freelance teacher too "
a = mystring.count("Arum")
print(f"Arum appeared {a} times")

Arum appeared 4 times

In [4]:
mystring.count("Arum")

4

In [5]:
for i in range(1, 6):
    for x in range(1, i - 1):
        print("*", end=" ")
    for x in range(i - 1, 0, -1):
        print("*", end=" ")
    print("\n")

*

* * *

* * * * *

* * * * * * *

In [5]:
var = input("Enter number: ")
if var[0::] == var [::-1]:
    print("Yes. given number is palindrome number")
else:
    print("No. given number is not palindrome number")

Enter number: 1247421
Yes. given number is palindrome number

In [7]:
list1 = [2,34,21,26,9,31,23,50]
list2 = [10,13,15,21,32,36,40,51]
[x for x in list1 if x % 2 != 0] + [y for y in list2 if y % 2 == 0]

[21, 9, 31, 23, 10, 32, 36, 40]

In [8]:
new_list = []
for x in list1:
    if x % 2 != 0:
        new_list.append(x)
    else:
        pass
for y in list2:
    if y % 2 == 0:
        new_list.append(y)
print(sorted(new_list))

[9, 10, 21, 23, 31, 32, 36, 40]

In [9]:
#n = input("Enter number : ")
#print(n[::-1])
j = 768
print(j[::-1])

TypeError: 'int' object is not subscriptable

In [18]:
rev = int(input("Enter revenue: $"))
var1 = 10000
var2 = 20000
var3 = rev - 20000
if rev <= var1:
    rev_tax = var1 * 0
elif rev <= var2:
    rev_tax = var1 * 0
elif rev > var2:
    rev_tax = var1 * 0 + (var2 - var1) * 0.1 + (rev - (var1*2)) * 0.2
else:
    pass
print(rev_tax)

Enter revenue: $45000
6000.0

In [28]:
def exponent(base, exp):
    res = base ** exp
    print(f"{base} to the power of {exp} = {res}")

In [29]:
exponent(2, 5)

2 to the power of 5 = 32

In [30]:
for i in range(1, 6):
    for x in range(i - 1, 0, -1):
        print("*", end=" ")
    for x in range(1, i - 1):
        print("*", end=" ")
    print("\n")

*

* * *

* * * * *

* * * * * * *

In [31]:
w = int(input(': '))
s = int(input(': '))
print(w * s)

: 4
: 6
24

In [33]:
print("name","is","Arum", sep= "**")

name**is**Arum

In [34]:
num = int(input(""))
print(f"Octal number of {num} = {oct(num)}")

8
Octal number of 8 = 0o10

In [36]:
nume = float(input(""))
print("New decimal is {0:5.2f}".format(nume))

24.5362
New decimal is 24.54

In [10]:
numlist = []
for i in range(6):
    i = 1
    k = float(input("Enter number: "))
    numlist.append(k)
print(numlist)

Enter number: 45.9
Enter number: 89.7
Enter number: 76.5
Enter number: 45.7
Enter number: 34.4
Enter number: 66.9
[45.9, 89.7, 76.5, 45.7, 34.4, 66.9]

In [11]:
for i in range(9):
    if i == 5:
        continue
    print(f"Line {i}")

Line 0
Line 1
Line 2
Line 3
Line 4
Line 6
Line 7
Line 8

In [42]:
print("Enter three string Watson Margo Carefour")
Name1: input("")
Name2: input("")
Name3: input("")

Enter three string Watson Margo Carefour
Watson
Margo
Carefour

In [43]:
totalMoney = 1000
quantity = 3
price = 450
print("I have {0} dollars so I can buy {1} football for {2:6.2f} dollars".format(totalMoney, quantity, price))

I have 1000 dollars so I can buy 3 football for 450.00 dollars

In [1]:
while i in range(11):
    print(i)

NameError: name 'i' is not defined

In [2]:
i = 0
while i in range(11):
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9
10

In [3]:
i = 0
while i in range(11):
    i += 1
    print(i)

1
2
3
4
5
6
7
8
9
10
11

In [4]:
i = 1
while i in range(11):
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [6]:
for i in range(1, 7):
    for x in range(i - 1, 0, -1):
        print(x, end=" ")
    for x in range(1, i - 1):
        print(x, end=" ")
    print("\n")

1

2 1 1

3 2 1 1 2

4 3 2 1 1 2 3

5 4 3 2 1 1 2 3 4

In [ ]:
for i in range(1,7):
    pass

In [9]:
num = int(input("Enter number: "))
numlist = []
for i in range(1,num+1):
    numlist.append(i)
print("Sum number = ",sum(numlist))

Enter number: 10
Sum number =  55

In [4]:
num = int(input("Enter number: "))
for i in range(1,11):
    new_num = num * i
    print(new_num)

Enter number: 2
2
4
6
8
10
12
14
16
18
20

In [6]:
numbers = [12, 75, 150, 180, 145, 525, 50]
for k in numbers:
    if k < 500:
        if k <= 150:
            if k % 5 == 0:
                print(k)
            else:
                pass
        else:
            continue
    else:
        break

75
150
145

In [15]:
numint = int(input('Enter number: '))
i = 0
numstr = str(numint)
for j in numstr:
    i += 1
print(f"Count of elements in numint = {i}")

Enter number: 76890
Count of elements in numint = 5

In [12]:
list1 = [10, 30, 40, 70, 90]
list1.reverse()
for i in list1:
    print(i)

90
70
40
30
10

In [16]:
for k in range(-10,0):
    print(k)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [17]:
for i in range(5):
    print(i)
else:
    print("Done!")

0
1
2
3
4
Done!

In [18]:
for num in range(25, 50):
   # all prime numbers are greater than 1
   if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            print(num)

29
31
37
41
43
47

In [31]:
current_num = 0
curr_list = []
for j in range(0,10):
    current_num = current_num + j
    curr_list.append(current_num):
        for i in curr_list:

In [5]:
startNumber = int(input("Enter the start number here "))
endNumber = int(input("Enter the end number here "))

def fib(n):
    if n < 2:
        return n
    return fib(n-2) + fib(n-1)

print(list(map(fib, range(startNumber, endNumber))))

Enter the start number here 4
Enter the end number here 23
[3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711]

In [6]:
def fibonacci_of(n):
    if n in {0, 1}:  # Base case
         return n
    return fibonacci_of(n - 1) + fibonacci_of(n - 2)  # Recursive case


[fibonacci_of(n) for n in range(10)]

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [7]:
# Program to display the Fibonacci sequence up to n-th term

nterms = int(input("How many terms? "))

# first two terms
n1, n2 = 0, 1
count = 0

# check if the number of terms is valid
if nterms <= 0:
    print("Please enter a positive integer")
# if there is only one term, return n1
elif nterms == 1:
    print("Fibonacci sequence upto",nterms,":")
    print(n1)
# generate fibonacci sequence
else:
    print("Fibonacci sequence:")
    while count < nterms:
        print(n1)
        nth = n1 + n2
       # update values
        n1 = n2
        n2 = nth
        count += 1

How many terms? 9
Fibonacci sequence:
0
1
1
2
3
5
8
13
21

In [17]:
gor = ['a','b','c','d','e']
for x in gor:
    if x == 'd':
        break
    print(x)

a
b
c

In [1]:
4E2

400.0

In [2]:
4e2

400.0

In [3]:
e2

NameError: name 'e2' is not defined

In [4]:
2e2

200.0

In [6]:
7/3   # dia tidak langsung membentuk pembulatan

2.3333333333333335

In [1]:
6/2

3.0

In [2]:
a = 1
b = 0
a = a ^ b
b = a ^ b
c = a ^ b
a + b

2

In [7]:
27 ** (1/3)  # python itu memang menghitung scr scientific artinya urut dari yang kuat dulu misal (*) dihitung lebih dulu dari (+) tapi hati-hati dengan urutan

3.0

In [8]:
2**5   # ini pangkat

32

In [9]:
32**(1/5)   # ini akar

2.0

In [10]:
n = 7
n    # nama variabel lebih baik pakai lowercase

7

In [11]:
n = 9
n     # avoid using single char variable name dgn huruf "i", "I", "l", "o"

9

In [12]:
n = 7
n = 9

In [13]:
n  # overwrite variabel di python akan mengeluarkan yang terakhir di-assign

9

In [3]:
#6 / 3 = a   # ini ga bisa
a = 6/3

In [4]:
a

2.0

In [16]:
x
type(x)  # is not defined bukan "None"

NameError: name 'x' is not defined

In [17]:
key = "rope"
b = list(key)
c = set(key)
d = tuple(key)

In [18]:
b

['r', 'o', 'p', 'e']

In [19]:
c

{'e', 'o', 'p', 'r'}

In [20]:
d

('r', 'o', 'p', 'e')

In [21]:
look = ['n','j','g']
m = set(look)
n = tuple(look)
k = str(look)

In [22]:
m

{'g', 'j', 'n'}

In [23]:
n

('n', 'j', 'g')

In [24]:
k

"['n', 'j', 'g']"

In [31]:
for i in look:
    s = str(i)
    p = "".join(s)

In [32]:
p

'g'

In [33]:
y = ('h','m','n')
set(y)

{'h', 'm', 'n'}

In [34]:
list(y)

['h', 'm', 'n']

In [35]:
str(y)

"('h', 'm', 'n')"

In [6]:
x = (1,2,3)
int(x)

TypeError: int() argument must be a string, a bytes-like object or a number, not 'tuple'

In [38]:
t = "sore"
int(t)

ValueError: invalid literal for int() with base 10: 'sore'

In [39]:
j = 5.3
int(j)

5

In [7]:
# string indexing and slicing
x = "Balga Intel"
a = x[0]  #ini akan menghasilkan "B"
b = x[5]     #ini menghasilkan " "
c = x[:]    #slicing ini akan nampilin seluruh karakter
d = x[:4]   #nampilin dari karakter paling awal (index 0) sampai karakter ke-3
e = x[2:]   #nampilin dari karakter index ke-2 sampai karakter paling akhir
v = x[:-1]  #namapilin seluruh karakter sampai sebelum karakter paling akhir
f = x[-1]     #index -1 itu karakter paling akhir
g = x[::1]     #nampilin seluruh karakter dengan kelipatan 1
h = x[::2]    #nampilin seluruh karakter yang posisinya kelipatan 2 dari index 0
n = x[::-1]   #nampilik seluruh karakter dari belakang jadi terbalik gitu
# we can't do this
# x[1] = "s"
# string ga bisa diubah

In [8]:
b

' '

In [11]:
e

'lga Intel'

In [12]:
v

'Balga Inte'

In [13]:
h

'BlaItl'

In [14]:
x[::-2]

'ltIalB'

In [43]:
bell = "Sailor"
gas = "Moon"
bell + gas #bisa diconcate / digabungin tanpa spasi
x + " chemistry"  #pakai spasi

'Balga Intel chemistry'

In [45]:
joy = x + gas
joy

'Balga IntelMoon'

In [46]:
sep = "jo"
sep*3

'jojojo'

In [48]:
opex = "saya berlari"
opex.capitalize()   #huruf awal di awal kalimat aja

'Saya berlari'

In [49]:
opex.split("a")  #mengubah string jadi list elemen per kata dan menghilangkan "a" dgn menjadikan posisinya sbg pemisah u/tiap elemen list

['s', 'y', ' berl', 'ri']

In [15]:
print("I will give you a %s in form of %r." %('number','whole \tnumber'))  #%r memprint apa adanya

I will give you a number in form of 'whole \tnumber'.

In [17]:
print("I have %d kg manggo." %45.56)  # %d hanya bakal nampilin integernya aja

I have 45 kg manggo.

In [18]:
print('Floating point numbers: %10.2f' %(13.144))  #sisa karakternya bakal whitespace

Floating point numbers:      13.14

In [20]:
print('Floating point numbers: %1.4f' %(15.144367))  #berlaku pembulatan

Floating point numbers: 15.1444

In [21]:
print('Floating point numbers: %1.7f' %(15.14436739))

Floating point numbers: 15.1443674

In [22]:
print('First: %s, Second: %5.2f, Third: %r' %('hi!',3.1415,'bye!')) #we can do multiple formatting

First: hi!, Second:  3.14, Third: 'bye!'

In [23]:
print('This is a string with an {} double {}'.format('insert'))  #harus ada dgn jumlah yang sama kayak placeholder/pakai parameter biar jelas

IndexError: Replacement index 1 out of range for positional args tuple

In [24]:
print('This is a string with an {0} double {0}'.format('insert'))  #kalo pake parameter jadi g error

This is a string with an insert double insert

In [25]:
print("I'm going to inject %s text here, and %s text here."%('something')) #klo modulo harus 2x juga di-assign karna g bisa pake parameter

TypeError: not enough arguments for format string

In [31]:
print("I'm going to inject %s text here."%('something','thing')

SyntaxError: unexpected EOF while parsing (Temp/ipykernel_12548/4001790112.py, line 1)

In [26]:
print('{0:=<8} | {1:-^8} | {2:.>8}'.format('Left','Center','Right'))
print('{0:=<8} | {1:-^8} | {2:.>8}'.format(11,22,33))  #di placeholdernya, {posisi/variabel:char+alignment+banyak karakter}

Left==== | -Center- | ...Right
11====== | ---22--- | ......33

In [27]:
print('This is my ten-character, two-decimal number:{1:10.2f}'.format(13.579,14.564)) #meskipun ada 2, tenang ada parameter oke

This is my ten-character, two-decimal number:     14.56

In [29]:
name = 'Ben'
print(f"He said his name is {name!r}")

He said his name is 'Ben'

In [30]:
num = 23.45
print("My 10 character, four decimal number is:{tumb:10.4f}".format(tumb=24.536))
print(f"My 10 character, four decimal number is:{num:10.4f}")

My 10 character, four decimal number is:   24.5360
My 10 character, four decimal number is:   23.4500

In [32]:
my_list = ['A string',23,100.232,'o'] #ini juga bisa

In [33]:
len(my_list)  #dihitung dari 1, kalo index dari 0. Kita juga bisa concate list pakai + jadinya listnya digabung

4

In [34]:
cart = "I got some cookies and"
cart + " candy"

'I got some cookies and candy'

In [35]:
cart  # cart ga berubah

'I got some cookies and'

In [36]:
ver = ['one','two','three']
ver + ['new item']

['one', 'two', 'three', 'new item']

In [37]:
ver  #ga berubah

['one', 'two', 'three']

In [40]:
ver = ver + [4,5]

In [41]:
ver

['one', 'two', 'three', 4, 5]

In [42]:
swap = [1,2,3,'append here']
swap.pop(1)

2

In [43]:
swap.pop(1)

3

In [44]:
swap  #menghapus permanen

[1, 'append here']

In [45]:
haz = [4,8,2,9,0,-2,-7,1,12]
haz.sort()   #dari kecil ke besar

In [46]:
haz   #inget .method() hasilnya permanen jadi varibelnya di call ulang

[-7, -2, 0, 1, 2, 4, 8, 9, 12]

In [48]:
mes = ['rock','rope','sail','tail','amigo']
mes.sort()
mes     #dari a ke z

['amigo', 'rock', 'rope', 'sail', 'tail']

In [51]:
haz.reverse()
haz

[-7, -2, 0, 1, 2, 4, 8, 9, 12]

In [52]:
haz

[-7, -2, 0, 1, 2, 4, 8, 9, 12]

In [53]:
haz.reverse()

In [54]:
haz

[12, 9, 8, 4, 2, 1, 0, -2, -7]

In [55]:
mes[0].upper()

'AMIGO'

In [56]:
haz[2]=0
haz        #list bisa diubah

[12, 9, 0, 4, 2, 1, 0, -2, -7]

In [82]:
my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}

In [83]:
my_dict['key2'][2] = 43  #dict juga bisa diubah

In [84]:
my_dict

{'key1': 123, 'key2': [12, 23, 43], 'key3': ['item0', 'item1', 'item2']}

In [85]:
my_dict['key4'] = [60,72,88]

In [86]:
my_dict

{'key1': 123,
 'key2': [12, 23, 43],
 'key3': ['item0', 'item1', 'item2'],
 'key4': [60, 72, 88]}

In [60]:
my_dict['key1'] -= 123
my_dict['key1']

0

In [61]:
dicty = {'key1':1,'key2':3,'key3':5}

In [62]:
dicty.items()  #sekuruh elemen dict dalam bentu list

dict_items([('key1', 1), ('key2', 3), ('key3', 5)])

In [63]:
dicty.keys()  #buat keys aja

dict_keys(['key1', 'key2', 'key3'])

In [64]:
dicty.values()  #buat values aja

dict_values([1, 3, 5])

In [68]:
del(dicty['key3'])  #buat menghapus gunakan del()  bukan .del()

In [69]:
dicty

{'key1': 1, 'key2': 3}

In [2]:
dictm = {'re':1,'xe':4,'ka':8}
for x,y in dictm.items():
    print((x,y))

('re', 1)
('xe', 4)
('ka', 8)

In [70]:
t = ('one',2,'three',4,'five')

In [71]:
y = (2,'vivo')
type(y)

tuple

In [75]:
zax = 2,4
zar = 2,5,
cas = 4,
vab = 4

In [73]:
type(zax)

tuple

In [74]:
type(zar)

tuple

In [76]:
type(cas)

tuple

In [77]:
type(vab)

int

In [78]:
t

('one', 2, 'three', 4, 'five')

In [79]:
t[:-2]

('one', 2, 'three')

In [80]:
t.index('three')   #mengetahui index elemen

2

In [88]:
keep = set()
listr = [5,4,3,5,4,1]
keep.add(listr)     #tidak bisa menambahkan list ke dalam set

TypeError: unhashable type: 'list'

In [89]:
set(listr)   #tapi bisa diubah ke dalam set

{1, 3, 4, 5}

In [90]:
nope = "santan"
nope.reverse()

AttributeError: 'str' object has no attribute 'reverse'

In [91]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

In [93]:
d['k1'][0]['nest_key'][1][0]

'hello'

In [94]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

In [95]:
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

In [96]:
das = ['me','ga','ga']
"".join(das)    #split string jadi list; join list jadi string

'megaga'

In [3]:
list2 = [(2,4),(6,8),(10,12)]
for i,j in list2:
    print(i,j)

2 4
6 8
10 12

In [2]:
print(j)

12

In [4]:
d = {'k1':1,'k2':2,'k3':3}
for item in d:
    print(item)  #cuma keys aja

k1
k2
k3

In [5]:
d.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

In [7]:
for x,y in d.items():
    print(x)

k1
k2
k3

In [8]:
for x,y in d.items():
    print((x,y))

('k1', 1)
('k2', 2)
('k3', 3)

In [9]:
d.values()

dict_values([1, 2, 3])

In [10]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [11]:
d.values().sort()

AttributeError: 'dict_values' object has no attribute 'sort'

In [12]:
sorted(d.values())

[1, 2, 3]

In [13]:
x = 2

while x < 12:
    print('x is currently: ',x)
    print(' x is still less than 10, adding 1 to x')
    x+=2
    if x==4:
        print('x==4')
    else:
        print('continuing...')
        continue

x is currently:  2
 x is still less than 10, adding 1 to x
x==4
x is currently:  4
 x is still less than 10, adding 1 to x
continuing...
x is currently:  6
 x is still less than 10, adding 1 to x
continuing...
x is currently:  8
 x is still less than 10, adding 1 to x
continuing...
x is currently:  10
 x is still less than 10, adding 1 to x
continuing...

In [15]:
tuple(enumerate('abcde'))

((0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e'))

In [16]:
list(enumerate('abcde'))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e')]

In [17]:
mylist1 = [1,2,3,4,5]
mylist2 = ['a','b','c','d','e']
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [18]:
st = 'Print only the words that start with s in this sentence'
for word in st.split():
    print(word)

Print
only
the
words
that
start
with
s
in
this
sentence

In [22]:
st = 'Print only the words that start with S in this sentence'
for word in st.split():
    if word[0] == 's' or word[0] == 'S':
        print(word)

start
S
sentence

In [19]:
xr = "Jokes"
for t in xr.split():
    print(t)

Jokes

In [20]:
for t in xr.split():
    for i in t:
        print(i)

J
o
k
e
s

In [23]:
[x for x in range(1,51) if x % 3 == 0]

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [24]:
st = 'Print every word in this sentence that has an even number of letters'
for word in st.split():
    if len(word) % 2 == 0:
        print('even')

even
even
even
even
even
even
even
even
even

In [25]:
st = 'Print every word in this sentence that has an even number of letters'
for word in st.split():
    if len(word) % 2 == 0:
        print('even')
    else:
        print(word)

Print
every
even
even
even
even
even
has
even
even
even
even
letters

In [26]:
st = 'Print every word in this sentence that has an even number of letters'
for word in st.split():
    if len(word) % 2 == 0:
        print(word+" <---even")

word <---even
in <---even
this <---even
sentence <---even
that <---even
an <---even
even <---even
number <---even
of <---even

In [27]:
for num in range(1,51):
    if num % 3 == 0 or num % 5 == 0:
        if num % 3 == 0:
            print("Fizz")
        else:
            print("Buzz")
    elif num % 3 == 0 and num % 5 == 0:
        print("FizzBuzz")
    else:
        print(num)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
Fizz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
Fizz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
Fizz
46
47
Fizz
49
Buzz

In [29]:
for num in range(1,51):
    if num % 3 == 0 and num % 5 == 0:
        print("FizzBuzz")
    elif num % 3 == 0:
        print("Fizz")
    elif num % 5 == 0:
        print("Buzz")
    else:
        print(num)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz

In [30]:
st = 'Print every word in this sentence that has an even number of letters'
[kata[0] for kata in st.split()]

['P', 'e', 'w', 'i', 't', 's', 't', 'h', 'a', 'e', 'n', 'o', 'l']

In [36]:
st[0]

'P'

In [32]:
[kata[0] for kata in st]

['P',
 'r',
 'i',
 'n',
 't',
 ' ',
 'e',
 'v',
 'e',
 'r',
 'y',
 ' ',
 'w',
 'o',
 'r',
 'd',
 ' ',
 'i',
 'n',
 ' ',
 't',
 'h',
 'i',
 's',
 ' ',
 's',
 'e',
 'n',
 't',
 'e',
 'n',
 'c',
 'e',
 ' ',
 't',
 'h',
 'a',
 't',
 ' ',
 'h',
 'a',
 's',
 ' ',
 'a',
 'n',
 ' ',
 'e',
 'v',
 'e',
 'n',
 ' ',
 'n',
 'u',
 'm',
 'b',
 'e',
 'r',
 ' ',
 'o',
 'f',
 ' ',
 'l',
 'e',
 't',
 't',
 'e',
 'r',
 's']

In [1]:
nyt = 'Car Free day!'
not('free' in nyt)

True

In [2]:
a = 5
print(a)
a += 10

5